.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}

#logo {
  font-weight: bold;
  background-image: url("../../../../../assets/logo.png");
  width: 93px;
  height: 77px;
  background-position: center center;
}

#logo a {
  text-decoration: none;
  color: gold;
}

#logo a:hover {
  color: white;
}

mat-toolbar {
  background-color: black;
  height: 90px;
}

mat-toolbar-row,
.mat-toolbar-single-row {
  height: 100%;
}
