<mat-toolbar>
  <mat-toolbar-row>
    <a [routerLink]="['/home']">
      <div id="logo"></div>
    </a>

    <span class="example-spacer"></span>

    <button mat-button [matMenuTriggerFor]="menu">
      <!-- lang icon -->
      <mat-icon i18n>language</mat-icon>
      Language
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let lang of languagesObj">
        {{ lang?.name }}
      </button>
    </mat-menu>

    <span *ngFor="let item of languagesObj">
      {{ lang?.code }}
    </span>
  </mat-toolbar-row>
</mat-toolbar>
